# -----------------------
# Python bytecode
# -----------------------
__pycache__/
*.py[cod]

# -----------------------
# Packaging
# -----------------------
*.egg-info/
build/
dist/
*.egg

# -----------------------
# Virtual environments
# -----------------------
.venv/
venv/
env/

# -----------------------
# VS Code
# -----------------------
.vscode/

# -----------------------
# Jupyter
# -----------------------
.ipynb_checkpoints/

# -----------------------
# Test caches
# -----------------------
.pytest_cache/

# -----------------------
# macOS / Windows
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Generated plots (optional)
# -----------------------
Plots/